## DATOS

In [3]:
import pandas as pd
from pathlib import Path

In [ ]:
base_path = Path("..") if Path().cwd().name == "notebooks" else Path(".")
datos_path = base_path / "datos" / "Lifestyle_and_Health_Risk_Prediction_Synthetic_Dataset.csv"

datos = pd.read_csv(datos_path)
datos.head()

,age,weight,height,exercise,sleep,sugar_intake,smoking,alcohol,married,profession,bmi,health_risk
0,56,67,195,low,6.1,medium,yes,yes,yes,office_worker,17.6,high
1,69,76,170,high,6.9,high,no,no,no,teacher,26.3,high
2,46,106,153,high,6.6,low,yes,no,no,artist,45.3,high
3,32,54,186,medium,8.5,medium,no,no,no,artist,15.6,low
4,60,98,195,high,8.0,low,no,no,yes,teacher,25.8,high

:

:

:

:

:

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           5000 non-null   int64
 1   weight        5000 non-null   int64
 2   height        5000 non-null   int64
 3   exercise      5000 non-null   object
 4   sleep         5000 non-null   float64
 5   sugar_intake  5000 non-null   object
 6   smoking       5000 non-null   object
 7   alcohol       5000 non-null   object
 8   married       5000 non-null   object
 9   profession    5000 non-null   object
 10  bmi           5000 non-null   float64
 11  health_risk   5000 non-null   object
dtypes: float64(2), int64(3), object(7)
memory usage: 468.9+ KB

:

:

:

:

:

In [ ]:
# Numero de filas y columnas
print("Numero de filas : " , datos.shape[0])
print("Numero de columnas : " , datos.shape[1])

# Celdas vacias
print('Celdas vacias : \n',datos.isnull().sum())

Numero de filas :  5000
Numero de columnas :  12
Celdas vacias :
 age             0
weight          0
height          0
exercise        0
sleep           0
sugar_intake    0
smoking         0
alcohol         0
married         0
profession      0
bmi             0
health_risk     0
dtype: int64

:

:

:

:

: